<?xml version="1.0"?>

<launch>

  <include file="$(find ros1_launch_utils)/launch/remote_pub_1.launch">
    <arg name="time" value="3" />
    <arg name="pkg" value="ros1_launch_utils" />
    <arg name="file" value="remote_pub_1.launch" />
    <arg name="node_name" value="simple_pub_1" />
  </include>

  <include file="$(find ros1_launch_utils)/launch/remote_pub_2.launch">
    <arg name="time" value="7" />
    <arg name="pkg" value="ros1_launch_utils" />
    <arg name="file" value="remote_pub_2.launch" />
    <arg name="node_name" value="simple_pub_2" />
  </include>

</launch>

